{% extends 'base.html' %}

{% block title %}
    Eliminar Empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminación de empleado: {{object.first_name}} </h1>

        <form method="POST" class="cell">{% csrf_token %}
            <div class="callout secondary">
                <h5>Desea eliminar este empleado?</h5>
                <button class="button alert" type="submit">Confirmar</button>
              </div>
        </form>
    </div>
</div>
{% endblock content %}

